<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Userbooking</servlet-name>
        <servlet-class>Userbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bookingticket</servlet-name>
        <servlet-class>Bookingticket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingtwo</servlet-name>
        <servlet-class>bookingtwo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlog</servlet-name>
        <servlet-class>adminlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffgradeone</servlet-name>
        <servlet-class>staffgradeone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffgradetwo</servlet-name>
        <servlet-class>staffgradetwo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewdash</servlet-name>
        <servlet-class>viewdata.viewdash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteuserdash</servlet-name>
        <servlet-class>deletedata.deleteuserdash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteadmindash</servlet-name>
        <servlet-class>deletedata.deleteadmindash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletestaffonedash</servlet-name>
        <servlet-class>deletedata.deletestaffonedash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewadmindash</servlet-name>
        <servlet-class>viewdata.viewadmindash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewstaffonedash</servlet-name>
        <servlet-class>viewdata.viewstaffonedash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewstafftwodash</servlet-name>
        <servlet-class>viewdata.viewstafftwodash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateuserdash</servlet-name>
        <servlet-class>updatedata.updateuserdash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateadmindash</servlet-name>
        <servlet-class>updatedata.updateadmindash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatestaffonedash</servlet-name>
        <servlet-class>updatedata.updatestaffonedash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatestafftwodash</servlet-name>
        <servlet-class>updatedata.updatestafftwodash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteadmindash2</servlet-name>
        <servlet-class>deletedata.deleteadmindash2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletestaffonedash2</servlet-name>
        <servlet-class>deletedata.deletestaffonedash2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Userbooking</servlet-name>
        <url-pattern>/Userbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bookingticket</servlet-name>
        <url-pattern>/Bookingticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingtwo</servlet-name>
        <url-pattern>/bookingtwo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlog</servlet-name>
        <url-pattern>/adminlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffgradeone</servlet-name>
        <url-pattern>/staffgradeone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffgradetwo</servlet-name>
        <url-pattern>/staffgradetwo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewdash</servlet-name>
        <url-pattern>/viewdash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteuserdash</servlet-name>
        <url-pattern>/deleteuserdash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteadmindash</servlet-name>
        <url-pattern>/deleteadmindash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletestaffonedash</servlet-name>
        <url-pattern>/deletestaffonedash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewadmindash</servlet-name>
        <url-pattern>/viewadmindash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewstaffonedash</servlet-name>
        <url-pattern>/viewstaffonedash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewstafftwodash</servlet-name>
        <url-pattern>/viewstafftwodash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateuserdash</servlet-name>
        <url-pattern>/updateuserdash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateadmindash</servlet-name>
        <url-pattern>/updateadmindash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatestaffonedash</servlet-name>
        <url-pattern>/updatestaffonedash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatestafftwodash</servlet-name>
        <url-pattern>/updatestafftwodash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteadmindash2</servlet-name>
        <url-pattern>/deleteadmindash2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletestaffonedash2</servlet-name>
        <url-pattern>/deletestaffonedash2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
